.page-wrapper {
  margin: 0 auto;
}
header {
  width: 100%;
  background-color: #fff;
  padding-top: 40px;
}
.header-wraper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  background-color: #fff;
  padding-top: 40px;
  font-size: 25px;
  font-weight: 200;
  color: #a8a8a8;
}
.header-content {
  margin-bottom: 2em;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #fff;
  border-top: 5px solid #e44a4a;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  nav {
    height: 75px;
  }
}
.nav-content {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
}
.nav-menu {
  width: 260px;
  float: left;
}
.nav-item {
  display: inline-block;
  height: 20px;
  margin-top: 35px;
  margin-right: 20px;
  text-align: center;
  background-color: #fff;
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  .nav-item {
    margin-top: 10px;
  }
}
.nav-item:hover {
  border-bottom: 4px solid #e44a4a;
  color: #4e4e4e;
}
.nav-search {
  margin-top: 35px;
  width: 300px;
  height: 24px;
  float: right;
}
.nav-search-field {
  width: 200px;
}
@media screen and (max-width: 800px) {
  .nav-search {
    float: left;
    margin-top: 10px;
  }
}
.nav-button {
  margin-top: 1px;
  background-image: url("../img/search.png");
  width: 24px;
  border: 0px solid #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #a8a8a8;
}
h1 {
  color: #4e4e4e;
  font-size: 80px;
  font-weight: 500;
}
.slider {
  width: 100%;
  height: 350px;
  background-color: #e44a4a;
  min-width: 70%;
  background-image: url("../img/01.jpg");
  background-position: center center;
}
.slider-wrapper {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.slider-left {
  width: 40px;
  height: 100%;
}
.slider-left-arrow {
  margin-top: 160px;
  width: 40px;
  height: 40px;
  background-color: #e44a4a;
  background-image: url("../img/left_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px;
}
.slider-content {
  width: 100%;
  text-align: center;
}
.slider-content-text {
  color: #fff;
  font-weight: 200;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  margin-top: 20px;
}
.slider-right {
  width: 40px;
  height: 100%;
}
.slider-right-arrow {
  margin-top: 160px;
  width: 40px;
  height: 40px;
  background-color: #e44a4a;
  background-image: url("../img/right_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px;
}
.slider-button {
  background-color: rgba(255,255,255,0);
  color: #fff;
  height: 40px;
  width: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
}
.read-more {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  background-color: #fff;
  max-width: 768px;
  background-color: #e44a4a;
}
.post-info-wrapper {
  color: #a8a8a8;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  font-size: 15px;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
  margin-top: 25px;
}
@media screen and (max-width: 800px) {
  .post-info-wrapper {
    font-size: 12px;
    height: 15px;
  }
}
.post-info-date {
  margin-right: 40px;
}
@media screen and (max-width: 800px) {
  .post-info-date {
    margin-right: 20px;
  }
}
.post-info-comments {
  margin-right: 40px;
}
@media screen and (max-width: 800px) {
  .post-info-comments {
    margin-right: 20px;
  }
}
.post-info-type {
  margin-right: 40px;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .post-info-type {
    margin-right: 20px;
  }
}
.post-info-type-img {
  height: 15px;
  margin-top: 0px;
  margin-right: 5px;
}
@media screen and (max-width: 800px) {
  .post-info-type-img {
    height: 12px;
  }
}
h2 {
  color: #4e4e4e;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 0px;
}
.post-text {
  width: 100%;
  color: #a8a8a8;
}
.post-text-content {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  font-weight: 200;
  font-size: 15px;
}
.post-text-preview {
  margin-top: 25px;
}
.post-text-footer {
  margin-top: 25px;
  margin-bottom: 50px;
}
.post-text-button {
  background-color: #fff;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #a8a8a8;
  transition: 0.2s;
}
.post-text-button:hover {
  border-color: #4e4e4e;
  color: #4e4e4e;
}
.post-quote {
  width: 100%;
  background-color: #e44a4a;
  color: #fff;
}
.post-quote-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  background-color: #e44a4a;
}
.post-quote-footer {
  margin-bottom: 50px;
  margin-top: 25px;
}
.post-quote-content {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}
.post-video {
  width: 100%;
  background-color: #354a5f;
  color: #fff;
}
.post-video-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  background-color: #354a5f;
}
.post-video-footer {
  margin-bottom: 50px;
  margin-top: 25px;
}
.post-video-player {
  border: 0px solid #000;
}
.post-image {
  width: 100%;
  background-color: #fff;
  color: #a8a8a8;
}
.post-image-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  background-color: #fff;
}
.post-image-content {
  width: 100%;
  margin-top: 25px;
}
.white {
  color: #fff;
}
.post-music {
  width: 100%;
  background-color: #e44a4a;
  color: #a8a8a8;
}
.post-music-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
  background-color: #e44a4a;
}
.post-music-content {
  width: 100%;
  margin-top: 25px;
}
.post-music-footer {
  margin-bottom: 50px;
  margin-top: 25px;
}
.white {
  color: #fff;
}
.video-container {
  margin-top: 25px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.footer-wrapper {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #fff;
  max-width: 768px;
}
.footer-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-copyright {
  float: left;
  margin-bottom: 25px;
  font-size: 9.5px;
  color: #a8a8a8;
  width: 200px;
}
@media screen and (max-width: 460px) {
  .footer-copyright {
    margin-bottom: 10px;
  }
}
.footer-social {
  float: right;
}
@media screen and (max-width: 460px) {
  .footer-social {
    float: left;
    margin-bottom: 25px;
  }
}
.footer-img {
  height: 20px;
  margin-right: 5px;
}
