footer(class="footer")
  .footer-wrapper
    .footer-container
      .footer-copyright
        |Swiss Theme by Niall MacFarlane
      .footer-social
        a(href="#")
          img(src="../img/footer/c-facebook.png", class="footer-img")
        a(href="#")
          img(src="../img/footer/c-twitter.png", class="footer-img")
        a(href="#")
          img(src="../img/footer/c-vimeo.png", class="footer-img")
        a(href="#")
          img(src="../img/footer/c-dribbble.png", class="footer-img")
        a(href="#")
          img(src="../img/footer/c-flickr.png", class="footer-img")
