header(class="header")
  .header-wraper 
    h1 Swiss
    .header-content
      |Hello, I am Swiss, a beatiful, minimal lumlr <br>
      |theme. Lorem ipsum dolor sit amlet, consecturer <br>
      |adipscing elit, sed diam nonummy nibh euismo.
