doctype html
html(lang="en")
  head
    title title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="../css/style.css")
  body
    .page-wrapper
      include ./nav.jade
      include ./header.jade
      include ./slider.jade
      include ./post-article.jade
      include ./post-quote.jade
      include ./post-video.jade
      include ./post-image.jade
      include ./post-music.jade
      include ./footer.jade
  script(src="../JavaScript/script.js")