nav(class="navigation")
  .nav-content 
    .nav-search
      input(type="search", class="nav-search-field")
      input(class="nav-button", type="submit", value=" ")
    .nav-menu
      a(href="#Home", class="nav-item") Home
      a(href="#Ask", class="nav-item") Ask
      a(href="#Archive", class="nav-item") Archive
      a(href="#Contact", class="nav-item") Contact