include ./post-info.jade

section(class="post-quote")
	.post-quote-wrapper
		+post-info("quote", "4 Jan 2014", 5, "white")
		article(class="post-quote-content")
			<q> People need routines. It's like a theme in music. But it also retricts your
			| thoughts and actions and limits your freedom. It structures your priorities and
			| in some cases distorts your logic.</q>
		.post-quote-footer
			| Haruki Murakami