include ./post-info.jade

section(class="post-video")
  .post-video-wrapper
    +post-info("video", "4 Jan 2014", 5, "white")
    .video-container
      iframe(class="post-video-player", src="https://www.youtube.com/embed/2tcGJPkjSAI")
    .post-video-footer