include ./post-info.jade

section(class="post-image")
	.post-image-wrapper
		+post-info("image", "4 Jan 2014", 3, "gray")
		img(class="post-image-content", src="../img/02.jpg")
		.post-image-footer
		