include ./post-info.jade

section(class="post-music")
	.post-music-wrapper
		+post-info("music", "4 Jan 2014", 5, "white")
		img(class="post-music-content", src="../img/music_player.png")
		.post-music-footer