- var com=" Comments"
- var imgUrl = ""
- var text = ""	
mixin post-info(type, date, comments, color)
	.post-info-wrapper
		+post("../img/post_info/time_"+color+".png", date, color)
		case type
			when "music"
				- imgUrl = "../img/post_info/music_"+color+".png"
				- text = "Music"
			when "text"
				- imgUrl = "../img/post_info/pencil_"+color+".png"
				- text = "Text"
			when "quote"
				- imgUrl = "../img/post_info/quote_"+color+".png"
				- text = "Quote"	
			when "video"
				- imgUrl = "../img/post_info/video_"+color+".png"
				- text = "Video"	
			when "image"
				- imgUrl = "../img/post_info/image_"+color+".png"
				- text = "Image"
		+post(imgUrl, text, color)
		+post("../img/post_info/comment_"+color+".png",comments+com, color)

mixin post(imgUrl, text, color)
	.post-info-type
		img(class="post-info-type-img", src=imgUrl)
		if color=="white"
			div(class="post-info-type-content white")=text
		if color=="gray"
			.post-info-type-content=text
		

