include ./post-info.jade

section(class="post-text")
	.post-text-wrapper
		h2 Lorem ipsum dolor sit amet, consectetuer <br>
			| adipiscing elit
		+post-info("text", "4 Jan 2014", 5, "gray")
		article(class="post-text-preview")
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		.post-text-footer
			input(class="post-text-button", type="submit", value="read more")