section(class="slider")
  //- img(class="slider-image", src="../img/01.jpg")
  //- img(class="slider-image", src="../img/03.jpg")
  //- img(class="slider-image", src="../img/04.jpg")
  //- img(class="slider-image", src="../img/05.jpg")
  .slider-wrapper
    .slider-left
      input(class="slider-left-arrow", type="submit", value=" ")
    .slider-content
      input(class="slider-button", type="submit", value="vista")
      .slider-content-text
        |I like to take pictures of snow covered mountains ins Switzerland
    .slider-right
      input(class="slider-right-arrow", type="submit", value=" ")
      //.slider-right-arrow
