content-width = 70%
content-width-mobile = 90%
header-height = 409px
max-width = 960px
max-content-width=768px
red-color = #e44a4a
font-color = #a8a8a8
font-active-color = #4e4e4e


content(width, height)
	margin 0 auto
	width width
	height height
	background-color white
	max-width max-content-width
	

post-mixin(back-color, color)
	width 100%
	background-color back-color
	color color
	&-wrapper
		content content-width 100%
		background-color back-color
		@media screen and (max-width 500px)
			content content-width-mobile 100%
			background-color back-color

post-content-blue-white()
	post-mixin #354a5f white
		
post-content-red-white()
	post-mixin red-color white

post-content-white-gray()
	post-mixin white font-color

.page-wrapper
	//min-width 960px
	margin 0 auto
	// @media screen and (min-width 200px) and (max-width 600px)
	// 	min-width 400px

header
	width 100%
	background-color white
	padding-top 40px
	.&-wraper
		content content-width 100%
		background-color white
		padding-top 40px
		font-size 25px
		font-weight 200
		color font-color
		@media screen and (max-width 500px)
			content content-width-mobile 100%
			
	.&-content
		margin-bottom 2em

nav
	position fixed 
	top 0
	left 0
	width 100%
	height 68px
	background-color white
	border-top 5px solid red-color
	box-sizing border-box
	z-index 1
	
	@media screen and (max-width 800px)
		height 75px

	.&-content
		content content-width 100%
		@media screen and (max-width 500px)
			content content-width-mobile 100%
	.&-menu
		width 49%
		float left
		@media screen and (max-width 800px)
			//margin 10px
			width 100%

	.&-item
		display inline-block
		height 20px
		margin-top 35px 
		margin-right 20px
		text-align center
		background-color white
		transition 0.2s
		box-sizing border-box
		@media screen and (max-width 800px)
			margin-top 10px
		&:hover
			border-bottom 4px solid red-color
			color font-active-color
			

	.&-search
		margin-top 30px
		width 49%
		height 24px
		float right
		position relative
		&-field
			width 100%
			max-width 190px
			border solid 1px black
			position absolute
			height 18px
			right 30px
			border solid 1px font-color
			@media screen and (max-width 800px)
				float left
				position static
			&:focus
				outline none
				border 1px solid red-color
		
		@media screen and (max-width 800px)
			float left
			margin-top 10px
			width 100%	
	.&-button
		margin-left 10px
		background-image url('../img/search.png')
		width 24px
		height 24px
		border 0px solid white
		background-repeat no-repeat
		background-position center center
		background-size 22px auto
		background-color white
		position absolute
		right 0px
		@media screen and (max-width 800px)
			float left
			position static
a
	text-decoration none
	color font-color
	
h1
	color font-active-color
	font-size 80px
	font-weight 500
	
.hideImage
	opacity 0
	//display none
	position fixed
	height 350px
	overflow-x hidden
	z-index -1
	// background-position center center
	// width auto
	// max-height 350px
	// max-width 100%
	// max-height 350px
	object-fit: cover;
	transition opacity 1s linear

.showImage
	display inline-block
	//transition opacity 1s ease-out

.slider
	width 100%
	height 350px
	background-color rgba(255,255,255,0)
	//min-width content-width
	// background-image url('../img/01.jpg')
	 background-position center center 
	transition background-image 0.05s linear
	&-image
		opacity 1
		position fixed
		z-index -1
		height 350px
		// background-position center center
		// width auto
		// max-height 350px
		// max-width 100%
		// object-fit: cover;
		transition background-image 0.4s linear
	&-wrapper
		display inline-flex
		align-items center
		width 100%
		height 100%
		box-sizing border-box
	&-left
		width 40px
		height 100%
		&-arrow
			margin-top 160px
			width 40px
			height 40px
			background-color red-color
			background-image url('../img/slider/left_arrow.png')
			background-repeat no-repeat
			background-position center center
			background-size 6px
			border 0px solid white
	&-content
		width 100%
		text-align center
		&-text
			color white
			font-weight 200
			margin 0 auto
			width 30%
			text-align center
			margin-top 20px
	&-right
		width 40px
		height 100%
		&-arrow
			margin-top 160px
			width 40px
			height 40px
			background-color red-color
			background-image url('../img/slider/right_arrow.png')
			background-repeat no-repeat
			background-position center center
			background-size 6px
			border 0px solid white
	&-button
		background-color rgba(255,255,255,0)
		color white
		height 40px
		width 100px
		padding-left 30px
		padding-right 30px
		font-size 12px
		font-weight 600
		text-transform uppercase
		border 2px solid white
		transition 0.5s
		&:hover
			background-color red-color
			transition 0.5s
.read-more
	content content-width 300px
	background-color red-color
	
//--------------- POST INFO ------------

.post-info
	&-wrapper
		color font-color
		width 100%
		height 20px
		margin 0 auto
		font-size 15px
		display inline-flex
		align-items center
		font-weight 200
		margin-top 25px
			
		@media screen and (max-width 800px)
			font-size 10px
			height 15px
			margin-top 15px
	&-date
		margin-right 40px
		@media screen and (max-width 800px)
			margin-right 20px
			
	&-comments
		margin-right 40px
		@media screen and (max-width 800px)
			margin-right 20px
	&-type
		margin-right 40px
		display inline-flex 
		align-items center
		@media screen and (max-width 800px)
			margin-right 20px
		&-img
			height 15px
			margin-top 0px
			margin-right 5px
			@media screen and (max-width 800px)
				height 12px
		
//------------------------------------------

h2
	color font-active-color
	font-size 30px
	font-weight 200
	margin-bottom 0px
	
//--------------- TEXT POST --------------

.post-text
	post-content-white-gray()
	font-weight 200
	font-size 15px
	&-preview
		margin-top 25px
	&-footer
		margin-top 25px
		margin-bottom 50px
		@media screen and (max-width 800px)
			margin-bottom 25px
	&-button
		background-color white
		height 40px
		padding-left 15px
		padding-right 15px
		font-size 10px
		font-weight 400
		text-transform uppercase
		border 2px solid font-color
		transition 0.2s
		&:hover
			border-color font-active-color
			color font-active-color
			
//----------------------------------------			
	
//-------------- QUOTE POST --------------

.post-quote
	width 100%
	background-color red-color
	color white
	&-wrapper
		content content-width 100%
		background-color red-color
		@media screen and (max-width 500px)
			content content-width-mobile 100%
			background-color red-color
	&-footer
		padding-top 1em
		box-sizing border-box
		height 75px
		font-weight 200
		@media screen and (max-width 800px)
			height 50px
	&-content
		margin-top 25px
		font-size 20px
		font-weight 200
		font-style italic


//-----------------------------------------


//----------------- VIDEO POST ----------

.post-video
	post-content-blue-white()
	&-footer
		height 50px
		@media screen and (max-width 800px)
			height 30px
	 &-player
		border 0px solid black
		
.video-container 
	margin-top 25px
	position relative
	padding-bottom 56.25%
	padding-top 30px
	height 0
	overflow hidden

.video-container iframe,  
.video-container object,  
.video-container embed 
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 0

//---------------------------------------


//------------- IMAGE POST --------------
.post-image
	post-content-white-gray()
	&-content
		width 100%
		margin-top 25px
	&-footer	
		height 50px
		@media screen and (max-width 800px)
			height 30px
.white
	color white
//---------------------------------------
	

//------------ MUSIC POST ----------------
.post-music
	post-content-red-white()
	&-content
		width 100%
		margin-top 25px
	&-footer
		height 50px
		@media screen and (max-width 800px)
			height 30px
//--------------------------------------
		
.white
	color white

//------------ FOOTER ------------------

footer
	.&-wrapper
		content content-width 100%
		height 100%
	.&-container
		margin-top 25px
		margin-bottom 25px
	.&-copyright
		float left
		margin-bottom 25px
		font-size 9.5px
		color font-color
		width 50%
		min-width 150px
		@media screen and (max-width 460px)
				margin-bottom 10px
	.&-social
		float right
		@media screen and (max-width 460px)
				float left
				margin-bottom 25px
	.&-img
		height 20px
		margin-right 5px
